.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#dealer-cards img {
    height: 165px;
    width: 115px;
    margin: 10px;
}

#player-cards img {
    height: 165px;
    width: 115px;
    margin: 10px;
}

#dealer-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hidden {
  border: 1px solid rgb(160, 160, 160);
  border-radius: 5px;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hit, #stay, #refresh {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#results {
    font-size: 20px;
    font-weight: 800;
    margin: 10px;
}

/* Responsive */

@media screen and (max-width: 900px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  #dealer-cards img {
    height: 125px;
    width: 75px;
    margin: 5px;
  }

  #player-cards img {
    height: 125px;
    width: 75px;
    margin: 5px;
  }

}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  #dealer-cards img {
    height: 100px;
    width: 70px;
    margin: 5px;
}

#player-cards img {
    height: 100px;
    width: 70px;
    margin: 5px;
}

.container-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hit, #stay, #refresh {
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin: 5px;
}

#results {
    font-size: 15px;
    font-weight: 800;
    margin: 5px;
}
}