/* Content */
body {
  margin: 0;
  background-color: #f2f2f2;
}

h1, h2 {
  padding-top: 20px;
  text-align: center;
  color: #333333;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin-bottom: 30px;
  text-align: center;
}

.section h2 {
  color: #333333;
  margin-bottom: 10px;
}

.section p {
  line-height: 1.5;
  font-weight: 500;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.gallery img {
  width: 630px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Responsive */
@media (max-width: 900px) {
  .gallery img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .gallery img {
    width: 100%;
  }
}
