h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

h3{
  text-align: center;
  color: #fff;
}

#timer{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.outer-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dirt {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

.dirt::after {
  content: '';
  display: block;
  width: 200px;
  height: 100px;
  background: url(/Mini-Gemes-Project/Assets/dirt.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -25px;
}

.mole {
  width: 100%;
  height: 100%;
  background: url(/Mini-Gemes-Project/Assets/mole.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100px;
  transition: top 0.3s;
}

.dirt.muncul .mole {
  top: -5px;
}

button{
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.start{
  margin-bottom: 50px;
}

.start:hover {
  background-color: navy;
  color: white;
  transition: 0.3s;
}

.outer-object{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#father-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/Mini-Gemes-Project/Assets/background.png);
}

.outer-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.container {
  width: 610px;
  height: 500px;
  background: url(/Mini-Gemes-Project/Assets/dirtbg.jpg);
  border: 3px solid white;
  border-radius: 20px;
}

.gamemode-container {
  margin-top: 30px;
}

.gamemode.active {
  background-color: rgb(81, 255, 0);
}

.outer-object h3 {
  font-size: 24px;
  margin-top: 10px;
  color: #fff;
}

@media (max-width: 900px) {
    .container{
      width: 50%;
    }
  
  .dirt {
    width: 40%;
    height: 30%;
  }
  
  h1{
    font-size: 40px;
  }

}

@media (max-width: 450px) {
  .container{
    width: 85%;
  }
  
  .dirt {
    width: 50%;
    height: 30%;
  }
}
